$h-100:100px;
$w-100:100px;
$w-200:200px;
$bg-color:rgb(38, 0, 128);
$bg-color2:blue;
$border:1px solid red;

.box-1{
  width:$w-200;
  height: $h-100;
  background-color: $bg-color;
  border:$border;
}

.box-2{
  width:$w-200;
  height: $h-100;
  background-color: $bg-color;
  border:$border;
}