
body{
    margin: 0;
}

/* css import */



/* css resetting properties value */



/* Universal selector */


/* simple tag selector*/



/* Multipal Class Selector */


/*css id selector*/




/* Examples Combinator selector */

/* Descendent selector */


/* child selector */



/* adjuacent sibling selector*/




/* general sibling selector*/


/* link selector */

/* 
    link
    active
    hover
    visited
*/

/* a:link{
    color:red;
}
a:active{
    color:green;
}
a:hover{
    color:brown;
}
a:visited{
    color:pink;
} */



