$color-red:red;
$color-blue:blue;
$color-yellow:yellow;
$color-pink:pink;
$color-gray:gray;
$color-black:black;
$bg-color1:rgb(255, 17, 0);
$bg-color2:rgb(255, 89, 0);
$bg-color3:rgb(191, 255, 0);
$bg-color4:rgb(77, 255, 0);
$bg-color5:rgb(0, 82, 26);
$bg-color6:rgb(0, 255, 242);
$bg-color7:rgb(0, 68, 255);
$bg-color8:rgb(251, 0, 255);
$bg-color9:rgb(91, 0, 81);
