$d-flex:flex;
$d-row:row;
$d-row-re:row-reverse;
$d-column:column;
$d-column-re:column-reverse;
$justify-center:center;
$justify-start:start;
$justify-end:end;
$justify-between:space-between;
$justify-around:space-around;
$justify-evenly:space-evenly;
$align-center:center;
$align-start:start;
$align-end:end;